/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: block;
  background: #fff;
  height: 61px;
  border-bottom: 6px solid #f6f6f6;
}

section {
  display: block;
  background: #FF0000;
  width: 774px;
  height: 640px;
  float: left;
}

aside {
  display: block;
  width: 474px;
  float: right;
  position: relative;
}

#main-video{
  width: 772px;
  height: 465px;
  frameborder: 0;
  margin-left: 2px;
}

#menu-button{
  margin: 5px 0 0 14px;
}

#yt-logo{
  margin: 5px 0 8.5px 20px; 
}

#search-bar{
  top: -18px;
  left: 44px;
  display: inline-block;
  position: relative; 
  height: 26px;
  width: 590px;
  border-radius: 0;
  border: 2px solid #ccc;
}

#search-button{
  background-image: url(search-btn.png);
  top: -18px;
  left: 41px;
  display: inline-block;
  padding-right: 44px;
  position: relative;
  height: 32px;
  border: 2px solid #ccc;
}

.header-btn{
  display: inline-block;
  position: relative;
  height: 31px;
}

#upload-btn{
  top: -5px;
  left: 210px;
}

#grid-btn{
  top: -7px;
  left: 213px;
}

#bell-btn{
  top: -7px;
  left: 233px;
}

#avatar-btn{
  top: -2px;
  left: 260px;
  display: inline-block;
  position: relative;
  height: 41px;
}

#autoplay-top-header{
  font-size: 1.7rem;
  height: 27px;
  padding-top: 4px;
  font-weight: 400;
}

#autoplay-btn{
  top: -4px;
  right: 93px;
  float: right;
  display: inline-block;
  position: relative;
  height: 26px;
}

.next-vid-container{
  color: #1f1118;
  height: 120px;
}

.next-vid-thumb {
  display: inline-block;
  position: relative;
  top: 23px;
  height: 102px;
}

.next-vid-text {
  top: -15px;
  right: -4px;
  font-family: Roboto, arial, sans-serif;
  display: inline-block;
  position: relative;
  text-decoration: none;  
}

.next-vid-link{
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.next-vid-link-info {
  display: block;
  padding-top: 5px;
  color: #767;
  font-size: 14px;   
}
